<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" integrity="sha256-D+ZpDJjhGxa5ffyQkuTvwii4AntFGBZa4jUhSpdlhjM=" crossorigin="anonymous" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
  </head>
  <body>

    <% if (session) { %>
      <div id="join-session-id" style="display:none"><%= session %></div>
    <% } %>

    <div id="app"></div>

    <script src="/build.js"></script>
    <script>window.addEventListener("beforeunload", function (e) {e.returnValue = "";return "";});</script>
  </body>
</html>